<a href="/UserDashboard">Home</a>
<a href="/logout">Logout</a> <br>

Name: @ViewBag.ShowUser.Name  <br>
Alias: @ViewBag.ShowUser.Alias <br>
Email: @ViewBag.ShowUser.Email <br>

Total Number of Posts:@ViewBag.ShowUser.MyPost.Count <br>
Total Number of Likes:@ViewBag.ShowUser.UserLikedPost.Count <br>